@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

#user-list {
  list-style: none;
  margin-bottom: 50px;
  li {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 30px;
    @include breakpoint(tablet) {
      gap: 20px;
      row-gap: 20px;
      margin-bottom: 35px;
    }
    @include breakpoint(tablethorizontal) {
      margin-bottom: 45px;
      flex-wrap: nowrap;
      align-items: center;
    }
    @include breakpoint(desktop) {
      margin-bottom: 60px;
    }
    span {
      color: $grey-color;
      width: 100%;
      font-size: 16px;
      @include breakpoint(tablethorizontal) {
        width: auto;
        font-size: 18px;
      }
      @include breakpoint(desktop) {
        font-size: 20px;
      }
    }
  }
}
